<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = ISO-8859-1">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Job Hunting in Twitter</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <script src="/static/js/vendor/d3.min.js"></script>
    <script src="/static/js/vendor/topojson.min.js"></script>
    <script src="/static/js/vendor/datamaps.usa.min.js"></script>
</head>
<body>
    <div id="header">
        <h1>Job Hunting with Twitter Streaming</h1>
    </div>
    <div id="usamap"></div>
    <script src="/static/js/usamap.js" type="text/javascript"></script>
    <script src="/static/js/jobhunts.js" type="text/javascript"></script>
    <script src="/static/js/prob.js" type="text/javascript"></script>
</body>