<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hunt your job in Twitter</title>
    <link rel="stylesheet" href="/static/css/main.css">
    </script>
</head>
<body>
    <div id="googleMap"></div>
    <script src="/static/js/main.js" type="text/javascript"></script>
    <div id="hiddenCont"></div>
    <script src="/static/js/defaults/jquery.1.10.2.min.js"></script>
    <script src="/static/js/defaults/googleMapAPI.js"></script>
    <script src="static/js/defaults/twitterapi.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUumvZblLZfrTZgPAjbKGWbVANjy2UULg&libraries=visualization&callback=initMap"></script>
</body>